<div class="principal">
    <div class="container">
        <div class="d-flex justify-content-center">
            <a><img src="https://i.imgur.com/xn9HWYH.png"/></a>
        </div>
        <div class="d-flex justify-content-center">
            <label class="my-2 mr-2" for="inlineFormCustomSelectPref">Região:</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Escolher...</option>
                <option value="1">Zona Norte</option>
                <option value="2">Zona Sul</option>
                <option value="3">Zona Leste</option>
                <option value="4">Zona Oeste</option>
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn buttonContinue" href='/familia'>Continuar</a>
        </div>
    </div>
</div>